github "Alamofire/Alamofire"
github "httpswift/swifter"
github "scinfu/SwiftSoup"
github "krzyzanowskim/CryptoSwift"
github "utahiosmac/Marshal"
github "mxcl/PromiseKit"
github "1024jp/GzipSwift"
github "sparkle-project/Sparkle"
github "apple/swift-protobuf"
github "daltoniam/Starscream"
github "SDWebImage/SDWebImage"

